{% extends 'base.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block metaDescription %}
    <meta name="description" content="La page que vous souhaitez voir n'existe pas.">
{% endblock %}

{% block ogMeta %}
    <!-- block og:meta (facebook) : url, title and description -->
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:title" content="Page introuvable | ExtraMémoire" />
    <meta property="og:description" content="La page que vous souhaitez voir n'existe pas." />
{% endblock %}

{% block JSON %}
    <!-- block SEO JSON -->
    <script type='application/ld+json'>
        {
            "@context": "http://www.schema.org",
            "@type": "WebSite",
            "name": "Page introuvable | ExtraMémoire",
            "url": "{{ app.request.uri }}"
        }
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/error.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class=" col-10 offset-1 col-md-8 offset-md-2 text-center message-error mt-5">
            <h1 class="position-relative">Oups, page introuvable !</h1>

            <p class="message-text">
                La page que vous souhaitez voir n'existe pas.<br />
                Peut-être que vous trouverez ce que vous cherchez sur la <a href="{{ path('home') }}"
                    title="Revenir à la page d'Accueil">page d'Accueil</a>.
            </p>
        </div>
    </div>
</div>

{% endblock %}